<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>save area</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <script src="/layui/layui.js"></script>
    <script src="/main.js"></script>
</head>
<body>
<div style="margin-right: 200px;margin-top: 50px">
    <form class="layui-form area_value" action="/deskManagement/saveType" method="post">
        <input hidden th:value="${deskType?.id}" name="id">
        <div class="layui-form-item">
            <label class="layui-form-label">桌型名称</label>
            <div class="layui-input-block">
                <input type="text" th:value="${deskType?.deskTypeName}" name="deskTypeName" required  lay-verify="required" placeholder="请输入桌型" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">最少人数</label>
            <div class="layui-input-block">
                <input type="number" th:value="${deskType?.minUsers}" name="minUsers" required lay-verify="required" placeholder="请输入最小人数" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">最大人数</label>
            <div class="layui-input-block">
                <input type="number" th:value="${deskType?.maxUsers}" name="maxUsers" required lay-verify="required" placeholder="请输入最大人数" autocomplete="off" class="layui-input">
            </div>
        </div>


        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                <button  type="button"  class="layui-btn layui-btn-primary" onclick="history.go(-1)">返回</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>