<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>餐桌管理</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <script src="/layui/layui.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
</head>
<body>


<div class="layui-layout layui-layout-admin">
    <div class="layui-row">
<!--        tab表-->
        <div class="layui-tab ">
            <ul class="layui-tab-title">
                <li ><a href="/deskManagement/first">餐桌管理</a></li>
                <li class="layui-this">位置管理</li>
                <li><a href="/deskManagement/third">桌型管理 </a></li>

            </ul>
            <div class="layui-tab-content" style="height: 100px;">
                <div class="layui-tab-item ">餐桌管理</div>
                <div class="layui-tab-item layui-show">
<!--                    表格-->
                    <div>
                    <table class="layui-table">
                        <colgroup>
                            <col width="150">
                            <col width="200">
                        </colgroup>
                        <thead>
                        <tr>
                            <th>位置名称</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody class="areaList">
                        <tr th:each="deskArea:${deskAreas}" th:id="${deskArea.id}">
                            <td th:text="${deskArea.areaName}+','+${deskArea.areaFloor}">canzhuoweizhi </td>
                            <td>
                                <a type="button" class="layui-btn layui-btn-warm editArea" th:value="${deskArea.id}" th:href="@{/deskManagement/areaSaveUI}+'?id='+${deskArea.id}" href="/deskManagement/areaSaveUI" >
                                    <i class="layui-icon">&#xe642;</i> 编辑
                                </a>
                                <button type="button" class="layui-btn layui-btn-danger deleteArea"  th:value="${deskArea.id}">
                                    <i class="layui-icon">&#x1006;</i>删除
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                        <button onclick="window.location.href='/deskManagement/areaSaveUI'" id="addArea" type="button" class="layui-btn" >
                            <i class="layui-icon">&#xe608;</i> 添加
                        </button>
                    </div>

                </div>
                <div class="layui-tab-item">桌型管理</div>
            </div>
        </div>
    </div>
    <div class="layui-row" style="padding: 5px"></div>
    <div class="layui-row"></div>
</div>
<style>
    .layui-row {
        margin-top: 20px;

        margin-left: 25px;

        margin-right: 25px;
    }
    .layui-input {
        width: 65%;
    }
    #addArea {
        margin: 20px;
    }
</style>
<script>
    layui.use(['layer', 'form','element','table'], function(){
        //无需再执行layui.use()方法加载模块，直接使用即可
        var form = layui.form
            ,layer = layui.layer
            ,element=layui.element
            ,table=layui.table;
        //…
    });
    function addArea(){
        $.ajax({
            type: "post",
            url: "/deskManagement/addArea",
            data: $(".area_value").serialize(),
            success: function () {
                $(".areaList").load("/deskManagement/first .areaList")
            }
        })
    }
    $(".back").click(function() {
    $('#addArea').show();
    $('.addArea').hide();
    });
    $(".deleteArea").click(function () {
        var val= $(this).attr("value");
        if (confirm('确定删除吗？')){
            $.ajax({
                type: "DELETE",
                url: "/deskManagement/delete/"+val,
            });
            $(this).parent().parent().remove();
        }
    });
    $("#addArea").click(function() {
        $(this).hide();
        $(".addArea").show();

    });


</script>
</body>
</html>